/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

h3 {
  font-size: 20px;
  text-align: left;
}

td {
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(240, 240, 240);
}

.drop-target {
  background-color: #aaa !important;
}

.group-container {
  margin-bottom: 24px;
}

.group {
  position: relative;
}

.group-name {
  font-weight: bold;
  border-radius: 0;
  padding-left: 0;
  text-align: left;
  margin-bottom: 8px;
}


.game {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 65px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.dragging-game {
  height: 15px; /* So we can drag on top of cells under the game that would otherwise be hidden */
}
.dragging-game .game-delete {
  display: none;
}

.game-header {
  width: 100%;
  height: 15px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
}

.game-name {
  padding-left: 3px;
  color: white;
  overflow: hidden;
}
.game-delete {
  margin: 2px 4px 0 0;
  color: rgb(200, 0, 0);
}

.game-body {
  width: 100%;
}

.game-top, .game-bottom {
  width: 100%;
  height: 25px;
  padding-left: 2px;
  font-size: 15px;
  border-right: solid 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.game-top {
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.edit-game {
  min-width: 300px;
  max-width: 500px;
}

.game-result-connector {
  width: 20px;
  height: 25px;
  padding: 4px 3px 2px 2px;
  margin-left: -4px;
}

.game-result-connector-icon {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  font-size: 10px;
  text-align: center;
  padding-top: 1px;
  color: white;
}

.game-result-connector-winner {
  background-color: rgba(0, 170, 0, 0.6);
}

.game-result-connector-loser {
  background-color: rgba(190, 0, 0, 0.6);
}

.dragging-connector {
  background-color: yellow;
}
